include ../mixins/radioButton
include ../mixins/checkBox
include ../mixins/timeRange

html
 head
    link(rel="stylesheet" href="https://p.trellocdn.com/power-up.min.css")
    link(rel="stylesheet" href="../css/markAsRepetitivePopup.css")
    script(src="https://p.trellocdn.com/power-up.min.js")
    script(src="../js/markAsRepetitivePopup.js")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/3.5.0/octicons.min.css")
 body
  div#mark-repetitive-popup
   div
    label Repeat every
    input(class="number" type="number" name="number" value="1")
    +radio-button("day", "of", "Day", "checked")
    +radio-button("week", "of", "Week")
    +radio-button("month", "of", "Month")
    +radio-button("year", "of", "Year")
    div#weekDays.u-hidden
     +checkbox("monday", "days", "Mon", "checked")
     +checkbox("tuesday", "days", "Tue", "checked")
     +checkbox("wednesday", "days", "Wed", "checked")
     +checkbox("thursday", "days", "Thu", "checked")
     +checkbox("friday", "days", "Fri", "checked")
     +checkbox("saturday", "days", "Sat")
     +checkbox("sunday", "days", "Sun")
    div
     +time-range("Time:")

