mixin checkbox(value, inputName, label, checked)
 label.check-box
  input(type="checkbox" name=inputName value=value checked=checked)
  div.marker #{label}
   span.octicon.octicon-check
  link(rel="stylesheet" href="../css/checkBox.css")

