mixin radio-button(value, inputName, label, checked)
 label.radio-button
  input(type="radio" name=inputName value=value checked=checked)
  div.marker #{label}
  link(rel="stylesheet" href="../css/radioButton.css")

