mixin time-range(label)
 label #{label}
 input(type="text" name="from" class="time")
 label.to-label to
 input(type="text" name="to" class="time")
 script(src="../js/timeRange.js")
 link(rel="stylesheet" href="../css/timeRange.css")
